<h1><u>About</u></h1>
  <p>
    <b>Computer science engineering (CSE) is one of the popular courses among engineering aspirants which focuses on the basic elements of computer programming and networking. Students pursuing computer science courses will gain knowledge of design, implementation and management of information system of both hardware and software. Going by the name, CSE course deals primarily with the theory of computation and design of computational systems. The course is offered across the globe in technical institutions at undergraduate as well as postgraduate levels awarding B.Tech and M.tech degrees, respectively.
  The Department promotes excellence in teaching, research, collaborative activities and positive contribution to society.In summary mission of the department can be stated as:To develop competent professionalswho are proficientin the design,analysis and implementation of computational/computer system.</b>
    </p>
  <marquee scrollamount="25"><img src="lab.jpg"></marquee>
<h2><u>Vission</u></h2>
  <p>
    <b>To create an Institution for higher technical Education, dedicated to the cause of developing professional with high sense of ethical values and commitment to the society, where student shall realize their potentials and learn to be future torch bearers of evolving Technologies , through inculcation of proper attitude, appropriation of tradition and heritage and fostering of originality so as to be capable of functioning without being influenced by malice of caste, creed, political and religious dogmas.</b>
  </p>
<h3><u>Mission</u></h3>  
  <p>
    <b>To meet the demand of quality technically skilled human resource at national and international level.
      To offer high quality education in the field of Computing Science and Technology and offer an environment conductive to research for both students and faculty.
      To strengthen R&D activity in collaboration with Industries, Premier Institutions and Research Labs.
      To develop strong industry-institute linkages.
      To Develop in each student mastery of rudiments, versatility of mind, enthusiasm for learning, intellectual discipline and self-confidence which provide the best ground for continuing professional achievement.
      Objectives
    </b>
  </p>
<h4><u>Programms</u></h4>
<table border="2px" Cellspacing="5px" Cellpadding="5px">
  <tr>
   <th>Program</th>
   <th>Description</th>
  </tr>
  <tr>
    <th>B.E. in CSE</th>
    <th>40 seats </th>
  </tr>
  <tr>
    <th>M.E. in CSE</th>
    <th>18 Seats</th>
  </tr>
</table>   

<h5><u>Subjects</u></h5>
<ul>
  <li>C programming</li>
  <img src="cprogram.jpg">
  <li>Networking</li>
  <img src="net.jpg">
  <li>Computer Architecture</li>
  <img src="coaa.jpg">
  <li>Artificial Intelligence</li>
  <img src="ai.jpg">
</ul>