<img src="cb.jpg" alt="College Building">
<br>
<br>
<img src="cgg.jpg" alt="College Ground">
<p>
  Burdwan University Executive Council resolved on June 1997 to set up an engineering institute at the University Campus under the direct control and management of the University of Burdwan – named ‘ University Institute of Technology (UTI)’. On September 16, 1999 Burdwan University Court approved the resolution. As per provisions of the Burdwan University Act under Section 2 Sub-sections 16 and 17 the institute enjoys the status of a Professional College run and managed by the University. The Institute was established in the year 2000. With the approval of Govt of West Bengal and All India Council for Technical Education (AICTE), the Institute has been running Bachelor of Engineering courses in six disciplines.
  
  The institute is accredited by TCS and has an academic alliance with IBM, Oracle Corporation and Microsoft Corporation, etc. The National Board for Accreditation (NBA) of AICTE has accredited the Dept. of (1) Electronics & Communication Engg (ECE) and (2) Computer Science & Engg (CSE) for three years effective from 16th April, 2009. Application for re-accreditation and new accreditation for two more new eligible subjects, IT and AEIE will be made by end July 2013.

The Institute accorded the approval of Technical Education Quality Improvement Programme (TEQIP) – Phase-II and fund was received from MHRD and State Govt. on 19th July, 2013.

The Institute maintains healthy student-faculty ratio and all faculty members are Post-graduates/Ph D.
</p>