<div><h1>There are Six Department For Bachelors Degree in Burdwan University</h1>
</div>
    <ol type="a">
          
<li><a [routerLink]="['/cse']">Computer Science</a></li>
 <img src="cse.jpg" alt="CSE" widht="150" height="150"> 
<li><a [routerLink]="['/IT']">Information Technology</a></li>
 <img src="IT.jpg" alt="IT" widht="150" height="150">
<li><a [routerLink]="['/civil']">Civil Engineering</a></li>
             <img src="civil.jpg" alt="CE" widht="150" height="150">
        <li><a routerLink="/Electrical Engineering">Electrical Engineering</a></li>
        <img src="ee.jpg" alt="EE" widht="150" height="150">
            <li><a routerLink="/Electronics and Communication">Electronics and Communication Engineering</a></li>
            <img src="ece.jpg" alt="ECE" widht="150" height="150">
         </ol>