<h1><u>Visit Our College</u></h1>
<img src="maps.jpg" alt="map" width="100px" height="100px">
<br>
<br>
<a href="https://www.google.com/maps/place/University+Institute+Of+Technology+(UIT)/@23.2572665,87.8445621,17z/data=!3m1!4b1!4m5!3m4!1s0x39f8361a58dcc565:0x37a42f6b23df16cd!8m2!3d23.2572665!4d87.8467508" target="_blank">Location Of College</a>
<br>
<h2><u>Any Enquiry</u></h2>
<img src="mail.png" alt="E-mail" width="100px" height="100px">
<br>
<br>
<a href="mailto:amanuit19@gmail.com" target="_blank">Send E-mail</a>
<br>
<h3><u>Contact Number</u></h3>
<img src="call.png" alt="Call me" width="100px" height="100px">
<br>
<br>
Mobile No: +91-7908679061 / +91-7319274505