<h1><u>About</u></h1>
  <p>
      <b>Civil engineers conceive, design, build, supervise, operate, construct and maintain infrastructure projects and systems in the public and private sector, including roads, buildings, airports, tunnels, dams, bridges, and systems for water supply and sewage treatment. Many civil engineers work in planning, design, construction, research, and education.</b>

      <marquee scrollamount="15"><img src="civil1.jpg"></marquee>
<h2><u>Vission</u></h2>
  <p>
     <b>Civil engineers prepare permit documents for work on projects in renewable energy. They verify that the projects will comply with federal, state, and local requirements. These engineers conduct structural analyses for large-scale photovoltaic, or solar energy, projects. They also evaluate the ability of solar array support structures and buildings to tolerate stresses from wind, seismic activity, and other sources. For large-scale wind projects, civil engineers often prepare roadbeds to handle large trucks that haul in the turbines.

      Civil engineers work on complex projects, and they can achieve job satisfaction in seeing the project reach completion. They usually specialize in one of several areas.</b>
   </p>   
<h3><u>Mission</u></h3>  
  <p>
    <b>Civil engineers work in a variety of locations and conditions. When working on designs, civil engineers may spend most of their time indoors in offices. However, construction engineers may spend much of their time outdoors at construction sites monitoring operations or solving onsite problems. Some jobs may require frequent relocation to different areas and offices in jobsite trailers.</b>
  </p>
  <h4><u>Programms</u></h4>
  <table border="2px" Cellspacing="5px" Cellpadding="5px">
    <tr>
     <th>Program</th>
     <th>Description</th>
    </tr>
    <tr>
      <th>B.E. in CE</th>
      <th>40 seats </th>
    </tr>
    <tr>
      <th>M.E. in CE</th>
      <th>18 Seats</th>
    </tr>
  </table>   
  
  <h5><u>Subjects</u></h5>
  <ul>
    <li>Concrete</li>
    <img src="concrete.jpg">
    <li>Soil</li>
    <img src="soil.jpg">
    <li>Matellurgy</li>
    <img src="met.jpg">
    <li>Fluid Mechanics</li>
    <img src="fm.jpg">
  </ul>    